.suggestions{
    margin-top: 30px;
    margin-right: 20px;
}
.suggestions_title{
    color: grey;
    font-weight: bold;
}

.username_left{

    display: flex;
    align-items: center;
   
}

.username_info{
    display: flex;
    flex-direction: column;
 
}
.relation{
color: grey;
font-size: 12px;
margin-top: 5px;
}

.suggestion_username{
    display:flex;

    justify-content: space-between;
    margin-top: 15px;
}
.follow_button{
    color: #0095f6;
    background: 0;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}
.follow_button:hover{
    color:darkblue ;
    cursor: pointer;
}
.username{
   font-weight: 600;
   font-size: 14px; 
   margin-top: 10px;
}

.avatar{
    margin-right: 10px;
}